<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgI9DvQyZoDX7saOZyb2Tz-DDAiA87-9k</string>
	<key>GCM_SENDER_ID</key>
	<string>688175351085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studybuddy.studybuddy</string>
	<key>PROJECT_ID</key>
	<string>studybuddy-c3202</string>
	<key>STORAGE_BUCKET</key>
	<string>studybuddy-c3202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688175351085:ios:39cbe5b7a8d7841bc3bfa4</string>
</dict>
</plist>